/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 500px;
  
  margin: 0 auto;
}

.navbar-inverse{
  border-radius:0 !important;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.img-fluid{
    max-width: 200px;
    max-height: 400px;
}
.text-white{
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff !important;
}
.centerOfScreen{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
.box{
  padding-left: 10%;
  padding-right: 10%;
}

.informative { color: #7a7c7f; font-size: 24px; font-family: "Libre Baskerville", serif; line-height: 40px; text-align: center; text-shadow: 0 1px 1px #fff; padding-top: 15px; }

.rtl {
    direction: RTL;
}
.rtl .pull-right {
    float:left !important;
}

.close-button {
  overflow: hidden;
}

 
.bmd-modalContent .close {
  font-size: 30px;
  line-height: 30px;
  padding: 7px 4px 7px 13px;
  text-shadow: none;
  opacity: .7;
  color:#fff;
}

.bmd-modalContent .close span {
  display: block;
}

.bmd-modalContent .close:hover,
.bmd-modalContent .close:focus {
  opacity: 1;
  outline: none;
}

.close span{
 font-size: xx-large;
    font-weight: 800;
    color:#000;
}

.pagination-status {
    list-style: none;
    display: inline-block;
}

.pagination-status li a {
    position: relative;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #337ab7;
}

.pagination-status li.active a {
    background-color: #337ab7;
    color: white;
    border: 1px solid #337ab7;
}

.pagination-status li:not(.active) a:hover {background-color: #ddd;}

.pagination-status li a:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-status li a:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagination-status li {
    float: left;
}

.pagination-status li a {
    display: block;
    padding: 8px;
    
}

.react-pagination-table{
    font-size: 20px
}

/* loading dots animation */
.loading {
  font-size: 40px;
}

.loading span {
  font-size: 50px;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loading span:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.loading span:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
/* loading dots animation END*/
/* Round button  */
.labelInputStyle{
  min-width: 145px;
}

.round-button {
	width:75px;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:3px solid #cfdcec;
    overflow:hidden;
    
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button span {
    display:block;
  cursor: pointer; cursor: hand; 
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:3.5em;
    font-weight:bold;
    text-decoration:none;
}
/* Round button END */
/* Pagination */
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.search{
  left: -20px
}